/*================ General layout styles ================*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body,
html {
  background-color: $color-body;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}
.page-width {
  @include clearfix();
  width: 90%;
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.admin-bar {
  display: none !important;
}
