/*================ General layout styles ================*/
body,
html {
  font-family: sans-serif;
  margin: 0;
}

footer {
  margin-top: 2em;
  text-align: center;
}

.divider {
  display: flex;
  justify-content: space-around;
  hr {
    width: 100%;
  }
  img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
  }
}

.About {
  .logo {
    max-width: 300px;
    margin: 0 auto;
  }
}
.Link {
  padding: 40px 30px;
  a {
    color: #3aaab2;
    text-decoration: none;
    line-height: 40px;
  }
}
