/*================ Site Header ================*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(54, 75, 77, 0.09);
  height: 92px;
  font-size: 18px;

  ul {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 0;
    li {
      list-style: none;
      margin-right: 20px;
      a {
        color: $color-secondary;
        text-decoration: none;
      }
    }
  }
}
