/*================ Site Filters ================*/
.filters {
  border-right: 1px solid #d5dde0;
  width: 260px;
  padding-right: 30px;

  h1 {
    font-size: 16px;
    font-weight: 400;
    color: #5e6568;
    margin-bottom: 20px;
  }
  p {
    color: $color-primary;
    display: flex;
    justify-content: space-between;
  }
  .section {
    margin: 25px 0;

    p:last-child {
      margin-bottom: 40px;
    }
    p:nth-child(2) {
      margin-top: 25px;
    }
  }

  form {
    align-items: center;
    color: $color-secondary;
    margin: 0;

    input[type="number"] {
      width: 72px;
      margin: 10px;
      border-radius: 4px;
      border: 1px solid #8ba2a8;
    }
  }
}

.faux-slider {
  position: relative;
  height: 22px;

  .track {
    position: absolute;
    width: 211px;
    height: 7px;
    opacity: 0.2;
    background-color: #90979b;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }
  .slider {
    position: absolute;
    top: 0;
    width: 10px;
    height: 22px;
    border-radius: 2px;
    background-color: #35a6b0;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
