<div class="App">
  <main role="main" id="MainContent" class="About About-Buyer">
    <h1>Natural, sustainable living and peace of mind coming together in harmony</h1>
    <h3>Sell your product to customers that care about how it impacts them and the environment. </h3>

    <div class="Signup">
      <section>
        <div>
          <h2>Get notified when we launch</h2>
          <form action="https://shopterra.us17.list-manage.com/subscribe/post">
            <input type="hidden" name="u" value="a90aee0d36dcddc06964e3247">
            <input type="hidden" name="id" value="729d8e6de6">
            <input type="email" autocomplete="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="enter your email">
            <button class="btn">Notify Me</button>
          </form>
        </div>
    </section>
    </div>

    <section class="Rating margin">
      <h2>We want to connet your brand with customers who care that you care.</h2>
      <h3>We help shoppers understand why your product is better for them and the environment.</h3>
      <div class="seller-icons">
      <div>
        {{ "value1.png" | asset_url | img_tag: "value 1" }}
        <p>Share Your Values</p>
      </div>
      <div>
        {{ "value2.png" | asset_url | img_tag: "value 2" }}
        <p>Reach a Wider Audience</p>
      </div>
      <div>
        {{ "value3.png" | asset_url | img_tag: "value 3" }}
        <p>Increase Your Sales</p>
      </div>
      <div>
        {{ "value4.png" | asset_url | img_tag: "value 4" }}
        <p>Save Time & Money</p>
      </div>
    </div>
      <h2>Shopterra Product Rating System</h2>
      <p>Independent. Transparent. Verified.</p>



      <div class="Rating">
      <div class="good-container">
        <div class="GoodFor">
          <img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/icon_you.png?5978664171572833721" alt="rating">
          <h2 class="pink">Good For You</h2>
          <p>Our “Good for You” rating reflects how safe a product is for use by you and your family, and how naturally-derived the ingredients are. A higher “Good for You” rating indicates that a product has undergone accredited safety testing and does not contain ingredients that are known to cause chronic or acute health effects. A higher rating also indicates a higher percentage of naturally-derived ingredients within the product. Products with a low “Good for You” rating will not be offered on Shopterra.</p>
          <ul>
            <li>Certified Safety Testing</li>
            <li>Naturally-derived</li>
            <li>No Synthetic Ingredients</li>
            <li>Paraben-free</li>
            <li>CIT/MIT-free</li>
            <li>Free from formaldehyde donors</li>
            <li>Sulfate-free</li>
            <li>Glycol-free</li>
            <li>Alcohol-free</li>
            <li>Silicone-free</li>
            <li>Free of synthetic dyes and fragrances</li>
          </ul>
          <hr class="mobile">
        </div>
        <div class="GoodFor">
          <img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/icon_earth.png?5978664171572833721" alt="rating">
          <h2 class="green">Kind to Earth</h2>
          <p>Our “Kind to Earth” rating reflects the degree to which a product and packaging affects the environment during use and disposal. A higher “Kind to Earth” rating indicates that the product and packaging are highly biodegradable, recyclable, and leaves a lower carbon footprint impact on the environment. Products with a low “Kind to Earth” rating will not be offered on Shopterra.</p>
          <ul>
            <li>Product impact to the environment</li>
            <li>Product biodegradability</li>
            <li>Product carbon footprint</li>
            <li>Packaging impact to the environment</li>
            <li>Packaging ease of re-use</li>
            <li>Recyclability</li>
          </ul>
          <hr class="mobile">
        </div>
      </div>
    </div>
      <div class="Example">
        <div class="heading">
          <p>You'll see this rating on all products sold on Shopterra.</p>
        </div>
        <div class="content-container">
          <div class="content">
            <img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/product_example.png?5978664171572833721" alt="example">
          </div>
          <div class="content">
            <p class="patent">Shopterra’s unique product rating system developed through extensive industry experience, and verified by the highly respected NSF International, assesses safety and source of ingredients, and the environmental impact of all the products we bring to you.</p>
            <img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/agency_nsf.png?5978664171572833721" alt="agency" class="nsf">
          </div>
        </div>
      </div>
    </section>

    <div class="Why">
      <h1>Why Shopterra?</h1>
      <h3>A better shopping experience for natural and sustainable lifestyles</h3>
      <p>Shopterra offers one platform for both natural and environmentally conscious consumers to purchase products with confidence. Our simple, transparent rating system, developed independently through extensive experience and verified by NSF International, is used to evaluate every product we bring to you, so you can not only trust them but also differentiate them from conventional products that are often neither natural nor environmentally safe. We are building a community of like-minded consumers who share your values of living a natural lifestyle and we help you inspire your friends and families to choose natural, sustainable products to make a difference in their lives and for our planet.</p>
    </div>

    <div class="Categories">
      <h1>Categories we'll specialize in first</h1>
      <div class="grid">
        <div><img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/personal_care_category.jpg?5978664171572833721" alt="Personal Care"></div>
        <div><img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/petcare_category.jpg?5978664171572833721" alt="Pet Care"></div>
        <div><img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/homecare_category.jpg?5978664171572833721" alt="Home Care"></div>
        <div><img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/nutriments_category.jpg?5978664171572833721" alt="Nutriments"></div>
      </div>
    </div>

    <div class="divider">
      <hr>
      <img src="//cdn.shopify.com/s/files/1/0003/6680/5036/t/3/assets/seller_icon.png?5978664171572833721" alt="divider">
      <hr>
    </div>

    <div class="Link">
      <p>Have a product you<br>want to sell on Shopterra?</p>
      <a href="http://stores.shopterra.com" target="_blank">Learn More Here</a>
    </div>

    <div class="Signup">
      <section>
      <div>
        <h2>Get notified when we launch</h2>
        <form action="https://shopterra.us17.list-manage.com/subscribe/post">
          <input type="hidden" name="u" value="a90aee0d36dcddc06964e3247">
          <input type="hidden" name="id" value="729d8e6de6">
          <input type="email" autocomplete="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="enter your email">
          <button class="btn">Notify Me</button>
        </form>
      </div>
    </section>
    </div>
  </main>
</div>
