@charset "UTF-8";
/*================ SHARED SYLESHEETS FOR SHOPTERRA AND SELLER.SHOPTERRA =================*/
@import "../../node_modules/shopterra-styles/index.scss";

.About-Buyer {
  background-image: url(../assets/background_1_mobile.png);
  @include xs() {
    background-size: 140%;
  }
  @include desktop() {
    background-image: url(../assets/background_1_desktop.png);
  }
  h1 {
    @include desktop() {
      padding-top: 10px !important;
    }
  }
  h3 {
    font-size: 16px !important;
  }
}

.About {
  .seller {
    width: 250px;
    margin: 20px 0;
  }
}

.Rating {
  margin-top: 0 !important;
  li {
    list-style-image: url("../assets/icon_check.svg");
  }
  .sans {
    font-family: $sans;
    padding: 20px;
    font-size: 16px;
    line-height: 24px;
  }
  .seller {
    max-width: 500px;
  }
}

.Why {
  background-image: url("../assets/background_2.jpg");
}

.divider {
  margin-top: 30px;
  display: flex;

  * {
    align-self: center;
  }
  img {
    width: 10%;
    max-width: 30px;
  }
  hr {
    width: 45%;
    margin: 0 20px;
  }
}

.Link {
  p {
    margin-bottom: 10px;
  }
}
