<div class='Footer'>
  <a href="https://www.instagram.com/Shopterra_/">{{ 'instagram_icon.png' | asset_url | img_tag: 'instagram', 'social' }}</a>
  <a href="https://www.facebook.com/Shopterra-650775488461881">{{ 'facebook_icon.png' | asset_url | img_tag: 'facebook', 'social' }}</a>
  <div>
    {{ 'shopterra_logo.png' | asset_url | img_tag: 'shopterra', 'logo'}}
    <p>Shopterra Inc. &copy; 2018</p>
    <a href="mailto:info@shopterra.com">info@shopterra.com</a>
  </div>
</div>
