<div class='Signup'>
  <section>
  <div>
    <h2>Get notified when we launch</h2>
    <form action="https://shopterra.us17.list-manage.com/subscribe/post">
      <input type="hidden" name="u" value="a90aee0d36dcddc06964e3247">
      <input type="hidden" name="id" value="729d8e6de6">
      <input type="email" autocomplete="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" size="25" value="" placeholder="enter your email">
      <button>Notify Me</button>
    </form>
  </div>
</div>
